.header {
  text-align: center;
}

.form-container {
  text-align: center;
  width: 800px;
  margin: 10px auto;

  .Add-button {
    background: rgb(13, 13, 133);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
  }

  .init {
    display: none;
  }
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem auto;

  .f-title,
  .f-author,
  .f-pages,
  .f-edition {
    width: 400px;
  }

  .f-submit {
    margin-top: 1rem;
    background: rgb(13, 13, 133);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
  }
}

.book-card {
  display: flex;
  flex-wrap: wrap;

  .book-item {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 10px;

    h2 {
      margin-top: 0;
    }

    .read-btn {
      margin-right: 10px;
      background: rgb(13, 13, 133);
      color: white;
      border-radius: 10px;
      font-weight: bolder;
    }

    .delete-btn {
      background: rgb(158, 4, 4);
      color: white;
      border-radius: 10px;
      font-weight: bolder;
    }
  }
}

.my-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-text {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
}
